.articleVideo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.subbol{
    color: rgba(255, 0, 0, 0.993);
    font-size: 26px;
    font-weight:900;
    margin-top: 10px;
    margin-bottom: -50px;
    width: 300px;
}
.text{
    color: white;
}
.mapa{
    margin-top: 20px;
    height: 400px;
}
.imgg{
    height: 600px;
}
.video{
    height: 500px;
}
.videobol{
    width: 300px;
    height: 300px;
}
.destinosFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.destinos{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 20px 0px 10px 20px;
    padding-left: 20%;
    width: 300px;
}
.excur{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}
.excur li{
    color: white;
    font-size: 26px;
    list-style: none;
    margin-left: -7px;
}

.boliches{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}